.titre-carousel {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 45%;
    z-index: 1;
    margin-top: 11%;
}

.titre-etoiles {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    margin-top: 10%;
    z-index: 1;
}