footer{color: white;
    display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 20px;
     text-align: justify;
     }

.a_propos{margin-left: 250px;
             margin-right: 100px;}
             
.contact{margin-left: 260px;
    }

.mentions_legals{color: white; 
             text-align: center;
             }

i{margin: 5px;}

#email{text-decoration: underline coral;}