footer{color: white;
    display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 20px;
     text-align: justify;
     }

.a_propos{margin-left: 200px;
             margin-right: 200px;}
             
.contact{margin: auto;}

.mentions_legals{color: white; 
             text-align: center;
             }

i{margin: 5px;}
