.font {
    font-family: 'roboto', sans-serif;
}

.p-dormez {
    font-family: 'roboto', sans-serif;
    color: white;
}

.h1-accueil {
    font-family: 'montserrat', sans-serif;
}

.font-chambres-above-grid {
    font-family: 'Sedan', sans-serif;
}

.en-savoir-plus {
    font-family: 'Sedan', sans-serif;
}

.p-decouverte {
    font-family: 'montserrat', sans-serif;
}

.p-2 {
    font-family: 'Merriweather', sans-serif;
}

.p-options-1 {
    font-family: 'Sedan', sans-serif;
}

.prix-options {
    font-family: 'Sedan' sans-serif;
}

.p-options-2 {
    font-family: 'Sedan', sans-serif;
}