.font-info {
    font-size: 13px;
}

.font-tel {
    font-size: 20px;
    font-weight: 500;
}

.font-ducmans {
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 6px;
    color: #AA8453;
}

.p-dormez {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 300;
}

.p-hotel {
    color: #AA8453;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 300;
}

.h1-accueil {
    color: rgb(255, 255, 255);
    font-weight: 300;
    margin-top: -10px;
    font-size: 30px;
    letter-spacing: 2px;
}

.blanc-accueil {
    color: rgb(133, 133, 133);
}