.font-info {
    font-size: 13px;
}

.font-tel {
    font-size: 20px;
    font-weight: 500;
}

.font-ducmans {
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 6px;
    color: #AA8453;
}

.p-dormez {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 300;
}