* {
    margin-left: 0;
}

.marge-sidebar {
    margin-top: 20%;
    text-align: center;
    width: 100%;
}

.marge-ducmans {
    margin-top: -20px;
}

.marge-sidebar-2 {
    margin-top: 20%;
    margin-left: 12%;
    text-align: left;
    width: 88%;
}

.info-tel {
    margin-top: 30%;
    text-align: center;
}

.numero {
    margin-top: -12%;
    margin-right: 5px;
    text-align: center;
    color: #AA8453;
}

.icone-tel {
    margin-top: -17%;
    margin-left: 9%;
}

.police-couleur-options {
    margin-left: 20px;
}

