

  .photelchambre {
    color: #FDFDFD;
  }
  .buttonchambre{
     background-color: #383838;
     border: none;
     color: #FDFDFD;
     width: 200px;
     height: 35px;
     font-family: "Barlow Condensed", sans-serif;
     font-weight: 500;
     font-style: normal;
     letter-spacing: 3px;
  }

  .logoochambre {
    position: relative; 
}

.logochambre {
  position: absolute;
  top: 18vw;
  left: 57%; 
  transform: translateX(-50%);
  text-align: center; 
}

 .imagechambrebody {
  width: 100%;
  height: 100%;
  left: 50%;
 opacity: 0.7;
 text-align: center;
 clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%,);
 }

.logochambreABCDE{
  width: 25px;
}
.photelchambre {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 8px;
}

.chambredeluxeh1 {
  color: #FDFDFD;
  font-family: "Gilda Display", serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 20px;
  font-size: 5vw;
}


.chambredeluxetitre{
  color: #FDFDFD;
 font-family: "Gilda Display", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 38px;


}

.DUCSMANh5 {
  color: #BB8B49;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 6px;
}

/*amenagments et logo amenagments*/

.Aménagementsh3 {
  color: #FDFDFD;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 180px;
  position: relative;
  font-size: 30px;
  margin-top: 118px;
}

.Aménagementschambre {
 list-style-type: none;
 font-family: "Barlow", sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 10px;
 margin-top: 190px;
padding-right: 110px;

}

.Aménagementschambre, .Aménagementsh3 {
  position: absolute;
  top: 10px;
  right: 10px;
}
.spanchambre1 {
  padding-right: 113px;
  color: #787878;
  font-size: 18px;
}

.spanchambre2 {
  padding-right: 57px;
  color: #787878;
  font-size: 18px;
}

.spanchambre3 {
  padding-right: 167px;
  color: #787878;
  font-size: 18px;
}

.spanchambre4 {
  padding-right: 22px;
  color: #787878;
  font-size: 18px;
}

.spanchambre5 {
  padding-right: 78px;
  color: #787878;
  font-size: 18px;
}

 .spanchambre6 {
  padding-right: 43px;
  color: #787878;
  font-size: 18px;
}

.Aménagementschambre li {
padding-bottom: 15px;
color: #787878;
}

.logochambre1 {   
  margin-right: 20px;
  width: 25px;
}

 .logochambre2 { 
    margin-right: 20px;   
    width: 25px;
   }

  .logochambre3 {  
    margin-right: 20px;   
    width: 25px;
  }

  .logochambre4 {   
    margin-right: 20px;   
    width: 25px;
   } 

  .logochambre5 {  
   margin-right: 20px;
   width: 25px;
   }  

  .logochambre6 {   
    margin-right: 10px;   
    width: 35px; 
  } 
/*PARAGRAPHE*/
.textepchambre, .instructionchambre, .Animauxchambre, .enfantchambre {
  color: #787878;
  font-family: "Barlow", sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: 15px;
}

  /*H3*/
.inchambre, .instcheckh3, .compagniechambreh3, .bébéchambreh3, .outchambre {
  color: #FDFDFD;
  font-family: "Gilda display", serif;
  font-weight: 500;
  font-style: normal;
}

/*checkin et checkout*/

.logodivchambre img {
  width: 30px;
 
}
.logodivchambre2 img {
  width: 30px;
  
}
.checkinul {
  color: #787878;
  list-style-type: none;
}
.checkoutul {
  color: #787878;
  list-style-type: none;
}
.checkoutul {
  margin-left: 20px; 
}
/*balise section*/
.movechambre ul {
  display: inline-block;
}

.movechambre {
  position: relative;
  margin-top: -50px;
  margin-left: 20%;
}
.checkinul li,
.checkoutul li {
  color: #787878;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
    font-size: 16px;
  
}

/*responsive*/

@media screen and (max-width: 768px) {
  body {
      font-size: 16px;
  }
  .movechambre {
      width: 100%;
  }
  .Aménagementsh3,
  .Aménagementschambre {
    position: relative;
    width: auto;
    margin-top: 20px;
    margin-right: auto;
   
  }
}