
    h1, h3{
    color: #FDFDFD;
  }
  p, lu, li{
    color: #787878;
  }
  header {
    color:#FFFFFF;
  }
  h5 {
    color: #BB8B49;
  }
  strong {
    color: gold;
  }
  button{
     background-color: #383838;
     border: none;
     box-shadow : 0px 0px 2px 2px #5f5a5a;
     color: #FDFDFD;
  }
  
  .imagechambre {
    width: 1px;
    height: 20px;
    }
  

  
    


 