    .menu-burger {
        display: none;
    }

@media screen and (max-width: 768px) {
    * {
        margin: 0;
    }

    .navbar {
        background-color: #222222;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        width: 100%; 
        position: fixed; 
        top: 0;
        left: 0; 
        bottom: 0; 
        transition: width 0.3s ease; 
        overflow: auto; 
        height: 5%;
        z-index: 1;
    }
    
    .logo {
        font-size: 24px;
    }
    
    .menu-icon {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    
    .menu-line {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 4px 0;
    }
    
    .menu {
        list-style-type: none;
        padding: 0;
        margin-left: 29%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, flex-direction 0.3s ease;
        flex-direction: column;
        width: 100%;
        margin-top: -5%;
    }
    .menu.active {
        max-height: 500px;
    }
    
    .menu li {
        margin-right: 20px;
    }
    
    .menu a {
        text-decoration: none;
        color: #fff;
    }
    
    .menu-item {
        opacity: 0; 
        transition: opacity 0.3s ease;
        margin-top: 1%; 
    }
    
    .menu.active .menu-item {
        opacity: 1;
    }

    .slide {
        display: none;
    }
    
    .slide.active {
        display: block;
    }

    .carousel {
        position: absolute;
        margin-top: 15%;
    }

    .titre-etoiles {
        position: absolute;
        display: flex;
        flex-direction: row;
        margin-left: 34%;
        margin-top: 20%;
        z-index: 1;
    }

    .image-header {
        width: 120%;
        margin-left: -20%;
        filter: brightness(0.8);
    }

    .etoiles-accueil {
        position: absolute;
        margin-left: -1%;
        margin-top: 260px;
        background-color: rgb(40, 40, 40);
        height: 70em;
    }

    .titre-carousel {
        position: absolute;
        width: 100%;
        margin-top: 19%;
        margin-left: 13%;
    }

    .p-titre-carousel-2 {
        position: absolute;
        margin-top: 12%;
        margin-left: 2%;
        font-size: 22px;
    }

    .p-titre-carousel-3 {
        position: absolute;
        margin-top: 18%;
        margin-left: 15%;
        font-size: 22px;
    }

    .p-titre-carousel-4 {
        position: absolute;
        margin-top: 28%;
        margin-right: 100%;
    }

    #etoiles-accueil0 {
        margin-left: 35%;
    }

    .p-hotel {
        margin-left: 18%;
        margin-top: 5%;
    }

    .h1-accueil {
        margin-left: 10%;
        margin-top: 5%;
    }

    .blanc-accueil {
        margin-top: 5%;
    }

    .img-hotel {
        margin-left: 15%;
        margin-top: 85%;
    }

    .img-hotel-2 {
        margin-left: 15%;
        margin-top: 5%;
    }

    .sidebar {
        display: none;
    }

    .btn-carousel {
        display: none;
    }

    .display-chambres {
        position: absolute;
        margin-top: 350%;
        margin-left: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }

    .display-chambres img{
        display: none;
    }

    .p-chambre-1 {
        transform: rotate(360deg);
    }
    .p-chambre-2 {
        transform: rotate(360deg);
    }
    .p-chambre-3 {
        transform: rotate(360deg);
    }
    .p-chambre-4 {
        transform: rotate(360deg);
    }
    .p-chambre-5 {
        transform: rotate(360deg);
    }

    p-chambre-junior-1

    p-chambre-junior-2

    p-chambre-junior-3

    p-chambre-junior-4

    p-chambre-junior-5

    .background-description {
        display: none;
    }

    .grid-options {
        display: none;
    }

    .grid-services {
        display: none;
    }

    .p-titre-services {
        display: none;
    }

    .font-ducsman-above-grid {
        display: none;
    }

    .font-chambres-above-grid {
        display: none;
    }

    footer {
        display: none;
    }
}